    
    <div class="ftco-blocks-cover-1">
        <div class="ftco-cover-1" style="background-image: url('../../assets/images/hero_1.jpg');">
            <div class="container">
              <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 text-center">
                  <h1>Our Blog</h1>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                  
                </div>
              </div>
            </div>
        </div>
      </div>
    

      <div class="site-section">
      <div class="container">
        <div class="row align-items-stretch">
          <div class="col-lg-3 col-md-6 mb-5">
            <div class="post-entry-1 h-100">
              <a href="single.html">
                <img src="../../assets/images/post_1.jpg" alt="Image"
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">
                <span class="meta">July 17, 2019</span>
                <a href="single.html"><h2>IUSTO QUOS VENIAM MAGNI TOTAM</h2></a>
                <p class="my-3"><a href="#" class="more-39291">Continue Reading</a></p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-5">
            <div class="post-entry-1 h-100">
              <a href="single.html">
                <img src="../../assets/images/post_2.jpg" alt="Image"
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">
                <span class="meta">July 17, 2019</span>
                <a href="single.html"><h2>IUSTO QUOS VENIAM MAGNI TOTAM</h2></a>
                <p class="my-3"><a href="#" class="more-39291">Continue Reading</a></p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-5">
            <div class="post-entry-1 h-100">
              <a href="single.html">
                <img src="../../assets/images/post_3.jpg" alt="Image"
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">
                <span class="meta">July 17, 2019</span>
                <a href="single.html"><h2>IUSTO QUOS VENIAM MAGNI TOTAM</h2></a>
                <p class="my-3"><a href="#" class="more-39291">Continue Reading</a></p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-5">
            <div class="post-entry-1 h-100">
              <a href="single.html">
                <img src="../../assets/images/post_4.jpg" alt="Image"
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">
                <span class="meta">July 17, 2019</span>
                <a href="single.html"><h2>IUSTO QUOS VENIAM MAGNI TOTAM</h2></a>
                <p class="my-3"><a href="#" class="more-39291">Continue Reading</a></p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mb-5">
            <div class="post-entry-1 h-100">
              <a href="single.html">
                <img src="../../assets/images/post_1.jpg" alt="Image"
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">
                <span class="meta">July 17, 2019</span>
                <a href="single.html"><h2>IUSTO QUOS VENIAM MAGNI TOTAM</h2></a>
                <p class="my-3"><a href="#" class="more-39291">Continue Reading</a></p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-5">
            <div class="post-entry-1 h-100">
              <a href="single.html">
                <img src="../../assets/images/post_2.jpg" alt="Image"
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">
                <span class="meta">July 17, 2019</span>
                <a href="single.html"><h2>IUSTO QUOS VENIAM MAGNI TOTAM</h2></a>
                <p class="my-3"><a href="#" class="more-39291">Continue Reading</a></p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-5">
            <div class="post-entry-1 h-100">
              <a href="single.html">
                <img src="../../assets/images/post_3.jpg" alt="Image"
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">
                <span class="meta">July 17, 2019</span>
                <a href="single.html"><h2>IUSTO QUOS VENIAM MAGNI TOTAM</h2></a>
                <p class="my-3"><a href="#" class="more-39291">Continue Reading</a></p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-5">
            <div class="post-entry-1 h-100">
              <a href="single.html">
                <img src="../../assets/images/post_4.jpg" alt="Image"
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">
                <span class="meta">July 17, 2019</span>
                <a href="single.html"><h2>IUSTO QUOS VENIAM MAGNI TOTAM</h2></a>
                <p class="my-3"><a href="#" class="more-39291">Continue Reading</a></p>
              </div>
            </div>
          </div>


          <div class="col-12">
            <span class="p-3">1</span>
            <a href="#" class="p-3">2</a>
            <a href="#" class="p-3">3</a>
            <a href="#" class="p-3">4</a>
          </div>
        </div>
      </div>
    </div>
    